

<h2>首頁</h2>

<div id="SearchForm" class="form-horizontal">

    <h4>書籍搜尋</h4>
    <div class="form-group">
        <label class="control-label col-md-2">書名</label>
        <div class="col-md-10">
            <input type="text" id="BookName" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">圖書類別</label>
        <div class="col-md-10">
            <select id="BookClass"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">借閱人</label>
        <div class="col-md-10">
            <select id="BookKeeper" ></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">借閱狀態</label>
        <div class="col-md-10">
            <select id="BookStatus"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="Search" class="btn btn-default">查詢</button>
            <button id="Reset" class="btn btn-default">清除</button>
            <button id="Add" class="btn btn-default">新增</button>
        </div>
    </div>

</div>




<script type="text/javascript">
    $(document).ready(function () {
        $(".BtnDelete").click(function (e) {

            const BookName = $(this).next().attr("name");

            e.preventDefault();

            if (confirm("是否刪除這本書 (" + BookName + ") ?")) {
                var Tr = $(this).closest('tr');
                const BookId = $(this).next().val();
                $.ajax({
                    type: "POST",
                    url: "/BookData/DeleteBook",
                    data: "BookId=" + BookId,
                    dataType: "json",
                    success: function (response) {
                        if (response) {
                            $(Tr).remove();
                            alert("書籍 (" + BookName + ") 刪除成功");
                        } else {
                            alert("書籍 (" + BookName + ") 出借中, 無法刪除");
                        }
                    }, error: function (error) {
                        alert("書籍 (" + BookName + ") 刪除失敗");
                    }
                });
            }
            return false;
        });
    });
</script>